// Login.scss

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 32px;
}

.intro-img {
    align-self: center;
    margin-right: 32px;

    .img-container {
        position: relative;
        display: flex;
        width: 380px;
        height: 580px;
        background-image: url('https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk');
        background-position-x: -46px;
        background-position-y: 0;
        background-size: 468px 634px;
    }

    img {
        position: absolute;
        width: 200px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; // Space between the login box and the sign-up box

  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    // width: 100%;
    height: 500px;
    // width: 350px;
    max-width: 350px;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: center;
}

    .login-form {
        // align-content: stretch;
        // align-self: stretch;
        // align-self: center;
        font-family: 'apple';
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        font-stretch: 100%;
        font-style: normal;
        font-size-adjust: none;
        line-height: 18px;
        margin-top: 24px;
        width: 348px;
        // justify-content: flex-start;
        unicode-bidi: isolate;

        // gap: 12px;

        input {
            padding: 10px;
            // width: auto;
            font-size: 14px;
            border: 1px solid #dbdbdb;
            align-self: center;
            // border-radius: 5px;
            outline: none;
        }

        button {
            // padding: 10px;
            padding-top: 7px !important;
            padding-bottom: 7px !important;
            padding-left: 16PX !important;
            padding-right: 16PX !important;
            text-overflow: ellipsis;
            text-transform: inherit;
            // width: auto;
            align-self: center;

            background-color: #0095f6;
            color: white;
            border: none;
            border-radius: 5px;
            // cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #007bbf;
            }
        }
    }

    .sign-up {
        padding: 20px;
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        width: 350px;
        max-width: 350px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        p {
            margin: 0;
            font-size: 14px;
            color: #262626;
    
        a {
            color: #0095f6;
            text-decoration: none;
            font-weight: 600;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
    }
}
      

.logo-txt {
    font-family: 'Pacifico';
    color: black;
    margin-bottom: 20px;
    font-size: 24px;
}
