.app-header {
    background-color: $clr4; // Set your desired background color
    padding: 10px;
    display: flex; // Use flexbox to align children
    justify-content: space-between; // Space out the child elements
    align-items: center; // Center items vertically

    .user-info {
        padding-left: 100px;
        color: $clr1;
        display: flex; // Allow user-info to be in a row
        align-items: center; // Center the user info vertically

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px; // Add some space between the image and the text
        }
    }

    nav {
        font-size: 0.8em;
        background-color: $clr5;
        padding: 5px;
        display: flex; // Align nav items in a row
    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1; // Style for active nav item
    }
}
