.post {
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding: 10px;

    .post-header {
        display: flex;
        align-items: center;

        .profile-icon {
            width: 40px;
            height: 40px; 
            border-radius: 50%;
            margin-right: 10px; 
        }

        .username {
            font-weight: bold;
        }
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .post-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .left-actions {
            display: flex;
            gap: 10px; 

            button {
                background: transparent; 
                border: none; 
                cursor: pointer; 
                display: flex; 
                align-items: center;
                padding: 0; 
                margin: 0; 
                font-weight: bold;
                color: black;

                &:hover {
                    color: gray; 
                }

                // Nested styles for the like button and its count
                .like-icon {
                    width: 24px; 
                    height: 24px; 
                }

                .likes-count {
                    font-weight: bold; // Make likes count bold
                    margin-left: 5px; // Space between icon and count
                }
            }
        }

        .save-button {
            background: transparent; 
            border: none; 
            cursor: pointer;
            font-weight: bold;
            color: black;

            &:hover {
                color: gray; 
            }
        }
    }

    .comments {
        .comment {
            display: flex;
            align-items: center;

            .comment-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
            }

            .comment-username {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}
