.side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed; /* Fix the sidebar to the left */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    // width: 240px; /* Wider than 72px to accommodate text */
    background-color: #fff; /* Optional: Add background color if needed */
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: apple;

    .logo {
        padding-top: 25px;
        padding-bottom: 16px;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 19px;
        
        h1 {
            // font-family: var(--font-family-system);
            font-weight: bold;
            text-align: center;
        }
    }

    .nav-bar {
        // padding-top: 20px;
        a {
            svg {
                fill: none;
                stroke-width: 2px;
                stroke-linejoin:"round";
                stroke: black;
            }
            &.active{
                svg {
                    fill: black;
                }
            }
        }
    }

    .side-nav-icon {
        width: 24px; /* Default size */
        height: 24px; /* Default size */
        filter: brightness(1); /* Default brightness */
        transition: filter 0.3s; /* Smooth transition for hover effects */
        fill: #000; /* Default icon color */
        
        &:hover {
            filter: brightness(0.7); /* Darker when hovered */
        }

        &.search-icon {
            fill: black;
            stroke: black;
        }
    }

    .profile-icon {
        width: 40px; /* Increase size to make it distinct */
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px; /* Add some margin to separate from the text */
    }

    .more-settings {
        margin-top: auto;
    }

    .profile-item {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    .MuiListItemText-root {
        margin-left: 8px; /* Space between text and icon */
    }
}
