.side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    position: fixed; // Fix the sidebar to the left
    top: 0; // Align to the top
    left: 0; // Align to the left
    width: 72px;

    .logo {
        font-family: var(--font-family-system); 
        font-weight: bold; 
        margin: 20px;      
    }

    .nav-bar {
        padding-top: 10px; 
    }

     // Styles for side nav icons
     .side-nav-icon {
        display: flex;
        width: 24px; // Default size
        height: 24px; // Default size
        filter: brightness(1); // Default brightness
        transition: filter 0.3s; // Smooth transition for hover effects
    

        &:hover {
            filter: brightness(0.7); // Darker when hovered
        }

        &.search-icon {
            fill: black;
            stroke: black;
        }

        }

        .more-settings {
            margin-top: auto; 
        }

       

}
