@font-face {
    font-family: pacifico;
    src: url(/src/assets//fonts/Pacifico-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: apple;
    src: url(/src/assets//fonts/sf-pro-text_regular.woff2);
}
